.container#content {
  margin-top: 60px;
}
body {
  background-color: $light-gray;
  font-family: $site-font;
}


h1 {
  margin-bottom: 20px;
  text-align: center;
}



.hero{
  background-image: url("../images/forest-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: cover;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  
}
.hero .content{
  padding: 70px 50px;
  padding-bottom: 30px;
}
#pageNav{
  background-color: #1A1919;
  opacity: 85%;
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  // border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 0;
  margin-bottom: 5px;
}
#pageNav .navbar-nav .nav-link {
  color: #ffffff;
  margin: 0 5px;
  // margin-top: 2px;
  &:hover {
    color: #03570a;
  }
}

#catNav .navbar-nav .nav-link {
  color: #000000;
  // margin-top: 2px;
  &:hover {
    color: #03570a;
  }
}
.navbar-nav .nav-item{
  margin: 0;
}

#catNav .navbar-nav{
  justify-content: center;
  width: 80%;
}

#catNav{
  background-color: #E0DDCF;
  line-height: 0;
}


#catNav .nav-item{
  margin: 5px 20px;
}

#catNav .nav{
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}


.content h2{
  color: #fff;
  margin: auto;
  font-size: 0.5em;
  font-weight: 200;
}
.content img{
  display: block;
  margin: auto;
  width: 200px;
}

#hamburger{
  border: none;
}

.navbar-toggler-icon{
  width: 25px;
  height: 25px;
}

#searchForm{
  margin: 0;
  margin-right: 2%;
  display: flex;
}
form{
  margin: 0px;
}
.searchBox{
  height: 28px;
  font-size: 15px;
  width: 0px;
  transition: width 0.1s ease-in;
  padding: 0 0;
  margin: 0px;
  border: 0px;
}

.searchBox.active{
  width: 200px;
  padding: 6.75px 13.5px;
  border: 2px;
}

.searchIcon{
  width: 30px;
  height: 30px;
  padding: 2px;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  #searchForm{
    display: none;
  }

  .mr-auto{
    margin: auto;
  }
}