.container{
    // display: table; /* Make the container element behave like a table */
    width: 100%; 
    position: relative;
    padding: 0px;
    max-width: 1260px;
}

#galleryMainR{
    max-width: 1260px;
    margin: 0px 0px !important;
}

#galleryMainR{
    .col-md-4{
        padding: 0;
    }
      
    .col-md-8{
        padding: 0;
    }
}

.smallHeadlineR{
    overflow: hidden;
    object-fit: cover;
    position: relative;
    margin: 0;
    height: 50%;
    width: 100%;
}

.largeHeadlineR{
   height: 100%;
   overflow: hidden;
   object-fit: cover;
   margin: 0;
   width: 100%;
}

#galleryMainR img{
    margin: 0;
    padding: 0;
    width: 100%;
    transition: transform .4s;
    filter: brightness(40%);
    &:hover {
        transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      }
}

/*Headline text Start*/
.headlineDetails{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.largeHeadlineR .headlineDetails .tag{
    padding: 6px 40px;
    font-size: 1em;
}

.smallHeadlineR .headlineDetails .tag{
    padding: 5px 30px;
    font-size: 0.8em;
}

.largeHeadlineR .headlineDetails h3{
    margin-bottom: 20px;
    font-size: 1.5em;
}
.smallHeadlineR .headlineDetails h3{
    margin-bottom: 10px;
    font-size: 1em;
}

.headlineDetails h3{
    font-style: italic;
}

@media only screen and (max-width: 767px) {
    .smallHeadlineR .headlineDetails .tag{
        padding: 6px 40px;
        font-size: 1em;
    }
    .smallHeadlineR .headlineDetails h3{
        margin-bottom: 20px;
        font-size: 1.5em;
    }
}
/*Headline text End*/



